<div class="row">

<div class="col-lg-4">
  <div class="card-list-container">
    <div class="search-container">
    <h3>Your search</h3>
    <input type="text" class="form-control input-lg" placeholder="<%= Date.today %>">
    </div>
    <ul class="inline-list list-unstyled">
      <% @spaces.each do |space|%>
        <%= link_to space_path(space) do %>
          <div class="space-card-list">
            <li>
            <h4><%=space.name %></h4>
            <p><%= space.description %></p>
            <p><%=space.latitude%></p>
            <p><%=space.longitude%></p>
            </li>
          </div>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<div id=map class="map-index"></div>

</div>



<!-- Require jQuery and Google map For rails javascript lib -->
<script src="https://wagon-google-maps-markers.herokuapp.com/assets/application-5034196864c74ae1cc5f12e6d1f71223.js" type="text/javascript"></script>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(function(){
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>
