<div class="banner-space" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path('banner.jpg') %>');">
</div>
<div class="container">
  <div class="row">
    <div class="row bot-marged first-top-marged">
      <div class="col-xs-8 col-md-6 col-lg-8">
        <p><%= @space.description %></p>
        <p><%= @space.address%></p>
        <p><%= @space.lng%></p>
        <p><%= @space.lat%></p>
     </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-4">
    <h1><%= @space.daily_price %>/day</h1>
  </div>
</div>

<div id="map" class="map-space"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(function(){
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>

<%= cl_image_tag("pzgkvt9e8jkrtufb4rsz",
      width: 400, height: 300, crop: :fill) %>

