<div class="wrapper-blue">
  <div class="container">
    <div class="space-page-card col-xs-12 col-sm-6 col-sm-offset-3 text-center">
      <h1> <%= @space.name %></h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h3>Description</h3>
        <p><%= @space.description%></p>
        <h3>Services</h3>
        <p><%= @space.description%></p>

      </div>
      <div class="col-md-4">
      <div class="card-space-booking">
        <div class="input-daterange input-group" id="datepicker">
                         <input type="text" class="input-sm form-control form-inline" name="start_at" placeholder="<%= Date.today%>" value="<%= params[:start_at] %>" />
                         <input type="text" class="input-sm form-control form-inline" name="end_at" placeholder="End Date" value="<%= params[:start_at] %>"/>


        </div>
        <%= link_to "Book Now",new_space_reservation_path(@space, start_at: params[:start_at], end_at: params[:end_at]), class: "btn btn-primary btn-large btn-block" %>
      </div>
    </div>
  </div>
</div>


<div id="map" class="map-space"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(function(){
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(<%=raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>



