<div class="bg-gray-light">
  <div class="container bg-gray-light">
    <h3>Bookings</h3>
      <% @reservations.each do |reservation|%>

          <ul class="list-inline list-unstyled card-dashboard">
            <li><%= cl_image_tag reservation.space.photos[0].path, width: 50, height: 50,
                 crop: :thumb, gravity: :face, radius: :max%></li>
            <li><%= reservation.space.name %></li>
            <li><%= reservation.start_at %></li>
            <li><%= reservation.end_at %></li>
            <li><%= reservation.price %></li>
          </ul>
      <% end %>
        <h3>Workspaces</h3>

          <% @spaces.each do |space|%>
            <ul class="list-inline list-unstyled card-dashboard">
              <li><%= cl_image_tag space.photos[0].path, width: 50, height: 50,
                 crop: :thumb, gravity: :face, radius: :max%></li>
              <li><%= space.name %></li>
              <li><%= link_to "Edit workspace", edit_space_path(space) %></li>
            </ul>
          <% end %>

    </div>






  </div>




